
html {
    scroll-behavior: smooth;
}

body {
    color: rgb(60,19,33);
    background-color: #F4F6F4;
}

p {
    font-family: "Open Sans", Sans-Serif;
    font-size: 16px;
    text-align: center;
}

/*NAVIGATION BAR*/

.nav-bar {
    background-color:rgb(60,19,33);
    height: 50px;
    width: 100vw;
    color: #F4F6F4;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
}

.navigation-list {
    list-style-type: none;
    margin-top: 20px;
    width: 100%;
}

.navigation-item {
    display: inline-block;
    padding-left: 15px;
    font-family: "Open Sans", Sans-Serif;
}

a:link {
    color: white;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: white;
}

a:visited {
    color: pink;
    text-decoration: underline;
}

h1 { 
    text-align: center;
    padding-top: 120px;
    padding-bottom: 25px;
    font-size: 3.5em;
    font-family: "Charmonman";
}

@media screen and (max-width: 833px) {
    .mobile-wrap {
        width: 100vw;
    }
  }

hr.solid {
    margin: auto;
    width: 160px;
    padding-top: 25px;
}

hr {
    width: 100%;
}

h2 {
    text-align: center;
    font-weight: light;
    font-family: "Open Sans", Sans-Serif;
    font-size:20px;
    padding-top: 10px;
    padding-bottom: 25px;
}

h3 {
    margin: 20px;
    text-align: center;
    padding: 15px;
    font-size: 2em;
    font-family: "Open Sans", Sans-Serif;
}

h4 {
    margin-bottom: -5px;
    font-family: "Open Sans", Sans-Serif;
    font-size:smaller;
    padding: 15px;
}

h5 {
    font-family: "Open Sans", Sans-Serif;
    font-size: 1.5em;
}


.top-gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(248, 157, 201); */
    height: 350px;   
    padding-top: 25px;
    padding-bottom: 25px; 
    width: 100%;
}

.grad {
    background-image: linear-gradient(to left, rgb(253, 196, 230) , rgb(235, 166, 210));
    width: 100%;
  }

  @media screen and (max-width: 1007px) {
    #hide-ipad {
      display: none;
    }
  }

  @media screen and (max-width: 833px) {
    #hide-phone {
        display: none;
    }
  }



.top-gallery-image {
    padding-left: 20px;
    padding-right: 20px;
}

.slideshow-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    background-color: #F4F6F4;
}


@media screen and (max-width: 1007px) {
    .slideshow-container {
      flex-wrap: wrap;
    }
  }


.slideshow-item{
    color:rgb(60,19,33);
    width: 100%;
}

.slideshow-image {
    text-align: center;
    width: 100%;
}

.slideshow-image:hover {
    cursor: pointer;
    opacity: 0.5;
}


@media screen and (max-width: 1114px) {
    .cake-stack {
      height: 400px;
      padding-bottom: 20px;
    }
  }

@media screen and (max-width: 833px) {
    .cake-stack {
      height: 250px;
      padding-bottom: 20px;
    }
  }

@media screen and (max-width: 833px) {
    .cakes-small {
      height: 200px;
    }
  }

.description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    font-family: "Alegreya Sans SC";
    font-size:larger;
    background-color: #F4F6F4;
}

.stars {
    margin-top: -15px;
    color: (rgb 60,19,33);
}
  
  
.button {
    background-color: rgb(60,19,33); 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 1.1em;
    font-family: "Open Sans", Sans-Serif;
    cursor: pointer;
    transition-duration: 0.3;
  }


.button:hover {
    opacity: 0.7;
  }


.button-container {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: -30px;
}

.about-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    margin: auto;    
}


  @media screen and (max-width: 833px) {
    #vid-width {
      width: 350px;
      height: 300px;
    }
  }

.about-box {
    text-align: center;
    width: 550px;
    margin-bottom: 30px;
}

@media screen and (max-width: 833px) {
    .about-box {
        width: 350px;
    }
  }

.video {
    text-align: center;
    width: 100%;
}

.back-to-top {
    cursor: pointer;
    text-align: center;
    margin-top: 30px;
}

.back-to-top:hover {
    font-weight: bold;
    text-decoration: underline;
}
footer {
    text-align: center;
    padding: 50px;
    color:#F4F6F4;
    background-color: rgb(60,19,33);
    height: 300px;
}

.footer-cake {
    font-family: "Charmonman";
}

/* PRODUCT PAGE */

.row {
    height: 70%;
    width: 100%;
    display: flex;
}

@media screen and (max-width: 1114px) {
    .row {
      flex-wrap: wrap;
    }
  }

.column-1-of-product-page, .column-2-of-product-page{
    display: flex;
    width: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin: auto; 
    font-family: "Charmonman"; 
}

.column-1-of-product-page{
    display: flex;
    justify-content: center;
}

.column-2-of-product-page {
    padding-top: 30px;
    width: 50%;
}

@media screen and (max-width: 833px) {
    .column-2-of-product-page {
        padding-top: 0px;
        height: 240px;
    }
  }

.cart-button {
    display: inline-block;
    width: fit-content;
    padding: 50px;
    border: none;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 50px;
    cursor: pointer;
}

.column-1-of-product-page {
    margin-bottom: 5px;
    font-family: "Open Sans", Sans-Serif;
    font-weight: lighter;
}

.cart-button:hover{
    background-color: rgb(60,19,33);
    }

.feature-image-of-product img{
    width:fit-content;
    margin-top: 50px;
    padding-top: 30px;
}



.button-container-product {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding-bottom: 25px;
    padding-top: -30px;
}

.small-text {
    font-size: smaller;
}

.bold {
    font-weight: bold;
}


/*CONTACT PAGE*/

.contact-container-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30%;   
    padding-bottom: 25px;
}

.contact-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 40%;  
    align-items: center;
}

@media screen and (max-width: 1007px) {
    .contact-container {
      flex-wrap: wrap;
    }
  }

@media screen and (max-width: 833px) {
    #phone-number {
        color: blue;
        text-decoration: underline;
    }
  }


.contact-box {
    height: 360px;
    width: 450px;
    /* border-style: solid;
    border-color: black; */
}

.title {
    padding: 40px;
    font-weight: bold;
}

span {
    padding: 40px;
    font-size: smaller;
}

.contact-box.learn {
    background-color: rgb(220, 213, 213);
    padding-left: 50px;
}

.contact-box.speak {
    background-color: #F4F6F4;
    padding-left: 50px;
}



.email:link {
    color: blue;
    text-decoration: underline;
}

.email:visited {
    color: purple;
    text-decoration: underline;
}

.email:hover {
    font-weight: bold;
}

.email:active {
    color: blue;
    text-decoration: underline;
}

#socials:link {
    color: blue;
    text-decoration: underline;
}

#socials:visited {
    color: purple;
    text-decoration: underline;
}

#socials:hover {
    font-weight: bold;
}

#socials:active {
    color: blue;
    text-decoration: underline;
}


